# Configuration file for EC

#####################
# Mandatory variables
#####################

# Notice: run ranges will apply to geometry, materials and parameters

geometry_table: PCAL
author:         Cole Smith
author_email:   lcsmith@jlab.org	

run_min:       1
run_max:       10000

dbhost: clasdb.jlab.org
dbname: pcal_devel
dbuser: pcal_user
dbpass: pcal_devel

# Verbosity controls the perl script output
verbosity: 2

# Optional variables