# Configuration file for FT

#####################
# Mandatory variables
#####################

# Notice: run ranges will apply to geometry, materials and parameters

geometry_table: FT
author:         devita
author_email:   devita@jlab.org

run_min:       1
run_max:       10000

dbhost: clasdb.jlab.org
dbname: ft_devel
dbuser: ft_user
dbpass: ft_devel

# Verbosity controls the perl script output
verbosity: 1

# Optional variables