# Configuration file for FTOF

#####################
# Mandatory variables
#####################

# Notice: run ranges will apply to geometry, materials and parameters

geometry_table: FTOF
author:         gagik
author_email:   gavalian@jlab.org

run_min:       1
run_max:       10000

dbhost: clasdb.jlab.org
dbname: ftof_devel
dbuser: ftof_user
dbpass: ftof_devel

# Verbosity controls the perl script output
verbosity: 1

# Optional variables