// xcode project - start with c
//
// 1. on the general project add "settings.xcconfig" configuration for debug and release
//
// 2. Drag frameworks to project - remember to COPY
//
//    Qt:
//    open  $QTDIR/lib
//    QtCore QtXml QtGui QtWidgets
//
// 3. add gemc target "gemc"
//    a. remove gemc.cpp and other files created
//    b. source is gemc.cc (build phases)
//
// 4. add dependencies:
//    a. add options, splash, etc libraries
//
// 5. add environment variable

// Assigning a relative path to JLAB_SOFTWARE (copy from environment)
JLAB_SOFTWARE = "/opt/jlab_software/devel/Darwin_macosx10.11-x86_64-clang7.3.0"

// Sourcing local version
#include "/opt/projects/ceInstall/devel/ce/settings.xcconfig"

// installation of libraries and binaries
CONFIGURATION_BUILD_DIR = .

// including MLIBRARY
HEADER_SEARCH_PATHS =  $MLIB_HEADS $QT_HEADS


